

.grid-container {
  display:grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: 
  "nav nav nav"
  "info main-content aside"
  "info main-content second-aside"
  "footer footer footer";
  gap: 20px;
  max-width: 1340px;
  margin: auto;
  }
  
  
  
  .nav {
      grid-area: nav;
      background-color: #814646;
  }
  
  .info {
      grid-area: info;
      background-color: rgb(243, 243, 243);
      padding: 10px;
  }
  
  
  .main-content {
      grid-area: main-content;
      background-color: white;
  }
  
  .aside {
      grid-area: aside;
      background-color:  rgb(243, 243, 243);
  }
  
  .second-aside {
      grid-area: second-aside;
      background-color:  rgb(243, 243, 243);
  }
  
  .footer {
      grid-area: footer;
      background-color:#814646;
  }
  
  body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #c1baa7;
    }
    
    
    header {
      background-image: url("../images/hero2.jpg");
      background-size: cover;
      background-position: center;
      height: 500px;
      max-width: 1000px;
      margin: auto;
    }
    
    nav {
      height: 50px;
    }
    
    .hamburger {
      display: none;
    }
    
    .links {
      display: flex;
      justify-content: end;
      flex-wrap: wrap;
    }
    
    ul {
      list-style: none;
      margin: 0;
    }
    
    li {
      margin: 10px 20px;
    }
    
    a {
      color: white;
      text-decoration: none;
    }
    
  .info h3 {
      text-transform: uppercase;
      font-weight: 300;
      border-bottom: 2px solid black;
      padding-bottom: 10px;
      text-align: center;
  }
  
  .info p::first-line {
  text-transform: uppercase;
  }
  
    h1 {
      text-transform: uppercase;
      font-size: 2.5em;
      color: #272f32;
      font-weight: 400;
      padding-top: 100px;
      text-align: center;
      margin: 0;
    }
    
    .arrow-container {
      display: flex;
      justify-content: center;
      margin-top: 240px;
    }
    
    .arrow {
      width: 120px;
      animation: studsa 2s infinite;
    }
    
    @keyframes studsa {
      0% {
        transform: translateY(10px);
      }
    
      50% {
        transform: translateY(17px);
      }
    
      100% {
        transform: translateY(10px);
      }
    }
    
    .facilities {
      text-align: center;
      margin-top: 100px;
    }
    
    h2 {
      margin-top: 0;
      margin-bottom: 40px;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 3px;
    }
    
    .facilities-list {
      padding-left: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
    }
    
    .btn {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 16px;
      border: none;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    
    .services {
      padding: 20px;
      margin-top: 40px;
      max-width: 1000px;
    }
  
    .services h2 {
      font-size: 2rem;
      padding-left: 30px;
    }
    
    .wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }
    
    .card {
      background-color: #e7e4dd;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      margin-bottom: 20px;
      width: 250px;
      display: flex;
      flex-direction: column;
    }
    
    .card:hover {
      transform: translateY(-10px);
    }
    
    .card h4 {
      align-self: flex-start;
      padding-left: 1rem;
    }
    
    .card p {
      background-color: white;
      align-self: flex-start;
      margin: 0;
      padding: 16px;
    }
    
    
    .activities {
      padding: 20px;
      text-align: center;
      padding-top: 80px;
      padding-bottom: 80px;
      margin: auto;
      max-width: 1000px;
    }
    
    /* The actual timeline (the vertical ruler) */
    .timeline {
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
    }
    
    /* The actual timeline (the vertical ruler) */
    .timeline::after {
      content: "";
      position: absolute;
      width: 6px;
      background-color: rgb(0, 0, 0);
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
    }
    
    /* Container around content */
    .container {
      position: relative;
      background-color: inherit;
      width: 50%;
    }
    
    /* The circles on the timeline */
    .container::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      right: -17px;
      background-color: white;
      border: 4px solid #ff9f55;
      top: 40px;
      border-radius: 50%;
      z-index: 1;
    }
    
    /* Place the container to the left */
    .left {
      left: 0;
      display: flex;
      justify-content: end;
    }
    
    /* Place the container to the right */
    .right {
      left: 50%;
    }
    
    /* Fix the circle for containers on the right side */
    .right::after {
      left: -16px;
    }
    
    /* The actual content */
    .content {
      padding: 20px 30px;
      position: relative;
      border-radius: 6px;
    }
    
    .activities-card {
      background-color: #e7e4dd;
      padding: 20px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    .activities-card a img {
      height: 35px;
      width: 35px;
    }
    
    .newsletter {
      display: flex;
      justify-content: center;
    }
    
    form {
      width: 200px;
      border-radius: 4px;
    }
    
    form > p {
      text-transform: uppercase;
      font-size: 1rem;
      margin-top: 25px;
    }
    
    label {
      display: block;
      margin-bottom: 15px;
      color: #484848;
    }
    
    input[type="email"] {
      width: 90%;
      padding: 8px;
      border: 1px solid #cccccc;
      border-radius: 4px;
      margin-bottom: 15px;
    }
    
    input[type="checkbox"] {
      margin-right: 8px;
    }
    
    
    form button {
      width: 100%;
      background-color:#814646;
      border: none;
      border-radius: 4px;
      padding: 10px;
      color: white;
    }
    
    footer {
      display: flex;
      padding-bottom: 10px;
      flex-direction: row;
      justify-content: center;
      color: white;
    }
  
    footer p {
      border-left: 2px solid white;
      padding-left: 15px;
    }
    
  
    
    @media screen and (max-width: 1199px) {
      .body-container {
        max-width: 637px;
      }
    }
    
    @media screen and (max-width: 767px) {
      .links {
        display: none;
      }
    
      .hamburger {
        display: flex;
        justify-content: end;
        padding: 10px;
      }
    
      .hamburger img {
        width: 25px;
      }
    
      button {
        width: 100%;
        font-size: 1.5rem;
      }
    
      .card {
        font-size: 1.5rem;
        width: 350px;
      }
    
      .facilities-list {
        flex-direction: column;
      }
    
      .newsletter {
        font-size: 1.5rem;
      }
    
      .newsletter p {
        font-size: 1.5rem;
      }
    }
    