body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #c1baa7;
}

.body-container {
  background-color: rgb(249, 245, 245);
  max-width: 937px;
  margin: auto;
}

header {
  background-image: url("../images/members.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  max-width: 1000px;
  margin: auto;
}

nav {
  height: 50px;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.hamburger {
  display: none;
}

.links {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  margin: 10px 20px;
}

a {
  color: #5d533e;
  text-decoration: none;
}


h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  color: #272f32;
  font-weight: 400;
  padding-top: 100px;
  text-align: center;
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

h2 {
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

table {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0 ,0.2);
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: white;
}

th{
  background-color: #c1baa7;
}


footer {
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

footer ul {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .body-container {
    max-width: 637px;
  }
}

@media screen and (max-width: 767px) {

  .links {
    display: none;
  }

  .hamburger {
    display: flex;
    justify-content: end;
    padding: 10px;
  }

  .hamburger img {
    width: 25px;
  }

}
