body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #c1baa7;
}

.body-container {
  background-color: rgb(249, 245, 245);
  max-width: 937px;
  margin: auto;
}

header {
  background-image: url("../images/hero2.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  max-width: 1000px;
  margin: auto;
}

nav {
  height: 50px;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.hamburger {
  display: none;
}

.links {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  margin: 10px 20px;
}

a {
  color: #5d533e;
  text-decoration: none;
}


h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  color: #272f32;
  font-weight: 400;
  padding-top: 100px;
  text-align: center;
}

.facilities {
  text-align: center;
  margin-top: 100px;
}

h2 {
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

.facilities-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 16px;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.services {
  margin: auto;
  padding: 20px;
  margin-top: 80px;
  max-width: 1000px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #e7e4dd;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  margin-bottom: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.card h4 {
  align-self: flex-start;
  padding-left: 1rem;
}

.card p {
  background-color: white;
  align-self: flex-start;
  margin: 0;
  padding: 16px;
}

.services > p,
.services h2 {
  margin-bottom: 30px;
  text-align: center;
}

.activities {
  padding: 20px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: auto;
  max-width: 1000px;
}

.activities-card {
  background-color: #e7e4dd;
  padding: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: auto;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);}

.activities-card a img {
  height: 70px;
  width: 70px;
}

.newsletter{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

form {
border: 1px solid #ccc;
background-color: white;
width: 300px;
padding: 40px;
border-radius: 4px;
}

form > p {
text-transform: uppercase;
font-size: 1.2rem;
}

label{
  display: block;
  margin-bottom: 5px;
  color: #484848;
}

input[type="email"]{
  width: 90%;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

input[type="checkbox"]
{
  margin-right: 8px;
}

.form-group {
  margin-bottom: 15px;
  padding: 1rem;
}

form button {
  width: 100%;
  background-color: rgb(128, 180, 77);
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: white
}


footer {
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

footer ul {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .body-container {
    max-width: 637px;
  }
}

@media screen and (max-width: 767px) {

  .links {
    display: none;
  }

  .hamburger {
    display: flex;
    justify-content: end;
    padding: 10px;
  }

  .hamburger img {
    width: 25px;
  }

  button {
    width: 100%;
    font-size: 1.5rem;
  }

  .card {
    font-size: 1.5rem;
    width: 350px;
  }

  .facilities-list {
    flex-direction: column;
  }

  .newsletter{
    font-size: 1.5rem;
  }

  .newsletter p {
    font-size: 1.5rem;
  }
}
