* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: #eae8e1;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: black;
}

ul {
  list-style: none;
}

h1,
h2 {
  font-weight: 400;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eae8e1;
  height: 100px;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3rem;
}

.nav-links li {
  border-left: 1.5px solid #1e1e1e;
  padding-left: 5px;
}

nav img {
  width: 100px;
  margin-left: 30px;
}

.hamburger {
  display: none;
}

header {
  background-image: url("imges/loewe-technology-azMs02-lAFk-unsplash.jpg");
  background-color: rgb(126, 126, 121);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
}

.hero-container {
  max-width: 1280px;
  padding-top: 80px;
  padding-left: 40px;
  margin: auto;
}

.titel {
  font-size: 30px;
  width: 500px;
  text-align: left;
  color: white;
  line-height: 1.1;
  margin-bottom: 40px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.postnummer {
  border: none;
  border-radius: 50px;
  height: 60px;
  color: #1e1e1e;
  text-align: center;
  width: 400px;
  font-size: 30px;
  cursor: pointer;
}

input,
button {
  border: none;
  border-radius: 50px;
  height: 60px;
  color: #1e1e1e;
  text-align: center;
  width: 400px;
  font-size: 30px;
  cursor: pointer;
}

.btn1 {
  background-color: #1e1e1e9d;
  color: #fff;
}

.arrow {
  display: flex;
  justify-content: center;
  margin-top: 305px;
}

.arrow > img {
  width: 70px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}

.offers {
  display: flex;
  align-items: center;
  gap: 50px;
}

.offers img {
  width: 200px;
  cursor: pointer;
}

.basic {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.citat {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
}

.textbox2 {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 30px;
  color: #1e1e1e;
  text-align: center;
  padding: 50px;
}

.textbox2 h5 {
  font-weight: 200;
  font-size: 20px;
  margin: 5px;
}

.cards {
  display: flex;
  align-items: center;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  height: 200px;
  border-radius: 15px;
  background-color: #f2f2f2;
}

.profile-pic {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 2px #eae8e1;
}

.star {
  margin-top: -50px;
  width: 150px;
}

.forms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d1dce7;
}

.forms-pic {
  object-fit: cover;
  width: 700px;
  height: 500px;
}

.textbox3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  font-size: 30px;
  color: #1e1e1e;
  text-align: center;
  gap: 40px;
  padding: 20px;
  margin-left: 70px;
}

.btn2 {
  border: none;
  border-radius: 20px;
  height: 60px;
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
  width: 400px;
  font-size: 30px;
  cursor: pointer;
}

footer {
  background-color: #f5f4f2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

footer h4 {
  color: #5a5a5a;
  font-weight: 400;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  list-style: none;
}

.footer-links li {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
}

.show {
  display: none;
}

/* Mindre skärmar */
@media screen and (max-width: 1199px) {
  header .hero-container {
    padding-top: 40px;
  }

  .services {
    padding: 20px;
  }

  .offers {
    flex-wrap: wrap;
    justify-content: center;
  }

  .offers img {
    width: 150px;
  }

  .citat {
    padding: 20px;
  }

  .cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .forms {
    flex-direction: column;
    padding: 20px;
  }

  .forms-pic {
    width: 100%;
    height: auto;
  }

  .textbox3 {
    padding: 10px;
  }
}

/* Mobil */
@media screen and (max-width: 767px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
    padding-right: 20px;
  }

  .hamburger img {
    width: 40px;
  }

  header .hero-container {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .titel {
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .form {
    width: 100%;
  }

  input,
  button {
    width: 100%;
    font-size: 24px;
  }

  .services {
    padding: 20px;
  }

  .offers {
    flex-wrap: wrap;
    justify-content: center;
  }

  .offers img {
    width: 120px;
  }

  .citat {
    padding: 20px;
  }

  .cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .forms {
    flex-direction: column;
    padding: 20px;
  }

  .forms-pic {
    width: 100%;
    height: auto;
  }

  .textbox3 {
    padding: 10px;
  }

  .hide {
    display: none;
  }

  .show {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
  }
}
