body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #c1baa7;
}

.body-container {
  background-color: rgb(249, 245, 245);
  max-width: 937px;
  margin: auto;
}

header {
  background-image: url("../images/hero2.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  margin: auto;
}

nav {
  height: 50px;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

a {
  color: #5d533e;
  text-decoration: none;
}

.hamburger {
  display: none;
}

.links {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  margin: 10px 20px;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  color: #272f32;
  font-weight: 400;
  padding-top: 100px;
  text-align: center;
}

.arrow-container {
display: flex;
justify-content: center;
margin-top: 240px;
}

.arrow {
  width: 120px;
  animation: studsa 2s infinite;
}


@keyframes studsa {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(10px);
  }
}

.facilities {
  text-align: center;
  margin-top: 100px;
}

h2 {
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

.facilities-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 16px;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.services {
  margin: auto;
  padding: 20px;
  text-align: center;
  margin-top: 80px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background-color: #e7e4dd;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card h4 {
  align-self: flex-start;
  padding-left: 1rem;
}

.card p {
  background-color: white;
  align-self: flex-start;
  margin: 0;
  padding: 16px;
}

.services > p,
.services h2 {
  margin-bottom: 30px;
  text-align: center;
}

.activities {
  padding: 20px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: auto;
  max-width: 1000px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  position: relative;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 70px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
  display: flex;
  justify-content: flex-end;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
}

.activities-card {
  background-color: #e7e4dd;
  padding: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.activities-card a img {
  height: 70px;
  width: 70px;
}

form {
  width: 300px;
  margin: 0 auto;
  padding: 40px;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 15px;
  padding: 1rem;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555555;
}

input[type="email"] {
  width: 90%;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #ffffff;
  color: #333333;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.newsletter button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.newsletter p {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

footer {
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

footer ul {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .body-container {
    max-width: 637px;
  }
}

@media screen and (max-width: 767px) {

  .links {
    display: none;
  }

  .hamburger {
    display: flex;
    justify-content: end;
    padding: 10px;
  }

  .hamburger img {
    width: 25px;
    height: 25px;
  }

  button {
    width: 100%;
    font-size: 1.5rem;
  }

  .card {
    font-size: 1.5rem;
    width: 350px;
  }

  .facilities-list {
    flex-direction: column;
  }

  .newsletter {
    font-size: 1.5em;
  }

  .newsletter p {
    font-size: 1em;
  }
}
