body {
  background-color: #c1baa7;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.body-container {
  background-color: rgb(249, 245, 245);
  max-width: 937px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #5d533e;
}

header {
  background-image: url("../images/hero2.jpg");
  height: 500px;
  background-size: cover;
  background-position: center;
}

nav {
  height: 40px;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

ul {
  list-style: none;
}

.links {
  display: ruby;
  float: right;
}

li {
  margin: 10px 20px;
}

h1 {
  text-transform: uppercase;
  color: #272f32;
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;
  padding-top: 150px;
}

.pill-btn {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  text-transform: uppercase;
}

.facilities {
  text-align: center;
  padding: 20px;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

.facilities-list {
  display: ruby;
}

.services {
  text-align: center;
  margin-top: 40px;
}

.services > p {
  padding-bottom: 20px;
}

img {
  width: 20%;
}

.activities {
  text-align: center;
  margin-top: 40px;
}

.activites-card h2 {
  margin-bottom: 60px;
}

.activites-card {
  background-color: #e7e4dd;
  width: 260px;
  padding: 50px;
  border-radius: 8%;
  border: 1px solid #ccc;
  margin: auto;
  box-shadow: 1px 2px 4px rgba(99, 99, 99, 0.773);
}

footer {
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}

footer ul {
  display: ruby;
}
